@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

p{
    margin-bottom: 0px;
}

.booking-hero-bgd{
    background-color: #f5f5f5;
   }

.wrapper-container-home{
    width: 98%;
    margin: 0 auto;
    margin-left: 80px;
    margin-top: 60px;
    background-color: #f5f5f5;
}

.bookindapp-Container{
    width: 75%;
    margin: 0 auto; 
}

.hero-container{
    text-align: center;
    align-items: center;
    color: #000000;
    margin-top: 10%;
}

.swapper-catg1{
    display: flex;
    background-color: #ffffff;
    margin-top: 10px;
}

.ledger-bottom{
    display: flex;
    margin-bottom: 15px;
    border-top: 1px solid #000;
    margin-top: 10px;
    justify-content: flex-end;
}

.mb-lg1{
    font-size: 11px;
    margin: 0px 5px 0px 5px;
}

.ledger-post-container{
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.profile-img{
    width:90px;
    height: 90px;
    border-radius: 90px;
    border-color: #ffffff;
}

.user-box-container{
    display: flex;
    position: relative;
    top: -54px;
    margin-left: 20px;
}

.user-name{
    text-align: center;
    color: #ffffff;
}

.user-left{
    margin-left: 10px;
    margin-top: 10px;
}

.profile-token{
    text-align: right;
    color: #ffffff;
    font-size: 14px;
    margin-top: -10px;
}

.cover-side-img{
    width: 100%;
    height: 133px;
    object-fit: fill;
}

.small-profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

textarea{
    overflow: auto;
    resize: vertical;
    width: 100%;
    height: 103px;
    padding: 5px;
    border-color: #ffffff;
}

.post-txt{
    font-size: 12px;
}

.ledger-flex-post{
    display: flex;
}

.post-ledgerimg{
    width: 100%;
    height: 242px;
    object-fit: cover;
}
.latest-head{
    font-size: 18px;
    border-bottom:1px solid #000000 ;
}

.news-light{
    font-size: 12px;
    color: #88898c;
    border-bottom:1px solid #000000 ;
}

.news-dark{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
}

.latest-container{
    background-color: #ffffff;
}

.recomm-flex{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #000000 ;
}

.add-txt{
    color: #af8f2d;
    font-weight: bold;
}

.Recommends-head{
    font-size: 18px;
}

.recommend-container{
    margin-top: 20px;
    background-color: #ffffff;
}

.add-img-style{
    width:100%;
    height: 150px;
    margin-bottom: 10px;
}

.buzcafeimg{
    width: 100px;
    height: 30px;
}

.shops-img{
    width: 130px;
    height: 100px;
}
.shop-flex-box{
    display: flex;
    margin-top: 10px;
}

.small-detatil-txt{
    font-size: 12px;
    color:#767676;
}
.peerimg{
    width: 134px;
    height: 100px;
    object-fit: cover;
}

.carousel-indicators li{
    box-sizing: inherit;
}

.peer-name-txt{
    font-size: 14px;
    color: #2c2932;
}

.add-peer-btn{
    border: 0px;
    background-color: #af8f2d;
    color: #ffffff;
    padding: 0px 15px 0px 15px ;
    margin-bottom: 10px;
    font-size: 13px;
}

.peer-card{
    border: 1px solid #767676;
    background-color: #ffffff;
    width: 136px;
}

.peers-slide-container{
 margin-top: 20px;
background-color: #ffffff;
padding-left: 15px;
padding-right: 30px;
padding-bottom: 15px;
}

.peer-box{
    margin-left: 10px;
}

.senEs-header-flex{
    display: flex;
    justify-content: space-between;
}

.post-btm-flex{
    display: flex;
    margin-top: 5px;
}

.fa.fa-paperclip.clip-icon{
    font-size: 16px;
    transform: rotate(45deg);
    color: #a7a7a79e;
  }

  .fas.fa-tag.tag-icon{
    font-size: 16px;
    transform: rotate(90deg);
    margin-right: 8px;
    color: #a7a7a79e;
  }

  .fa.fa-send.send-icon{
    font-size: 16px;
    transform: rotate(45deg);
    color: #a7a7a79e;
  }

  .far.fa-star.star-icon{
    font-size: 16px;
    margin-right: 8px;
    color: #a7a7a79e;
  }

  .circle-side-txt{
      margin-left: 15px;
  }

  .form-field.post-form-bg{
 background-color: #ffffff;
  }