@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

p{
    margin-bottom: 0px;
}

.booking-hero-bgd{
    background-color: #f5f5f5;
   }

   .wrapper-container-home{
    width: 95%;
    margin: 0 auto;
}
.bookindapp-Container{
    width: 75%;
    margin: 0 auto; 
}
.hero-container{
    text-align: center;
    align-items: center;
    color: #000000;
    margin-top: 10%;
}

.swapper-catg1{
    display: flex;
    background-color: #ffffff;
}

.ledger-bottom{
    display: flex;
}

.mb-lg1{
    font-size: 16px;
    margin: 10px;
}

.ledger-post-container{
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.small-profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.post-txt{
    font-size: 12px;
}

.ledger-flex-post{
    display: flex;
}

.post-ledgerimg{
    width: 100%;
    height: 242px;
    object-fit: cover;
}
.latest-head{
    font-size: 18px;
    border-bottom:1px solid #000000 ;
}

.news-light{
    font-size: 12px;
    color: #a7a7a7;
    border-bottom:1px solid #000000 ;
}

.news-dark{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
}

.latest-container{
    background-color: #ffffff;
}

.recomm-flex{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #000000 ;
}

.add-txt{
    color: #af8f2d;
    font-weight: bold;
}

.Recommends-head{
    font-size: 18px;
}

.recommend-container{
    margin-top: 20px;
    background-color: #ffffff;
}

.add-img-style{
    width:100%;
    height: 150px;
    margin-bottom: 10px;
}

.buzcafeimg{
    width: 100px;
    height: 30px;
}

.shops-img{
    width: 130px;
    height: 100px;
}
.shop-flex-box{
    display: flex;
}

.small-detatil-txt{
    font-size: 12px;
}